.myModal{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0,0,0,.3);
    padding: 10%;
    z-index: 9999;
}

.myModal.active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myModalContent{
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    position: relative;
}

.myModalBtnClose{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 5;
    font-size: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}