.post{
    display: flex;
    justify-content: space-between;
    border: 2px solid aquamarine;
    margin-top: 20px;
    padding: 10px;
}
.post h3{
    margin-top: 0;
}
.post__content{

}
.post__btns{
    display: flex;
}